<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <li></li>
  <li><a routerLink="/comunidad">ir a comunidad</a></li>
  <li><a routerLink="/viajes">ir a Viajes</a></li>
  <li><a routerLink="/descuentos">ir a Descuentos</a></li>
  <li><a routerLink="/estudios">ir a Estudios</a></li>
  <li><a routerLink="/seguros">ir a Seguros</a></li>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>